* {
	font-family: Iosevka Nerd Font;
	font-weight: bold;
	font-size: 18px;
	min-height: 0;
}

window#waybar {
	background-color: @bg;
	transition-property: background-color;
	transition-duration: .5s;
	border-radius: 5;
}

@define-color bg #141414;
@define-color fg #f9f9f9;
@define-color zad #0A0A0A;
@define-color main #C83F49;
@define-color gr #323232;

#custom-cmus {
	background: @zad;
	color: @main;
	padding: 0;
	margin: 4px 0 4px 0;
	border-radius: 0;
}
#custom-foot {
	background: @zad;
	color: @fg;
	padding: 0 5px 0 25px;
	margin: 4px 0 4px 0;
}
#custom-nemo {
	background: @zad;
	color: @fg;
	padding: 0 5px 0 10px;
	margin: 4px 0 4px 0;
}

#cpu {
	background: @zad;
	color: @fg;
	padding: 0 30 0 15px;
	margin: 4px 0px 4px 0;
}

#memory {
  background: @zad;
	color: @fg;
	padding: 0 30 0 15px;
	margin: 4px 0px 4px 0; 
}
#temperature {
  background: @zad;
	color: @fg;
	padding: 0 30 0 15px;
	margin: 4px 0px 4px 0; 
}

#battery {
  background: @zad;
	color: @fg;
	padding: 0 30 0 15px;
	margin: 4px 0px 4px 0; 
}

#workspaces {
	background-color: @zad;
	margin: 4px 5px 4px 5px;
	border-radius: 6;
}
#workspaces button {
	background-color: @zad;
	color: @fg;	
	padding: 0 4px;
	margin: 2px 5px 0 5px;
	border-bottom: solid 2px #23252e;
	border-radius: 0;
}
#workspaces button:hover {
	background-color: @zad;
	color: @fg;	
	padding: 0 4px;
	margin: 2px 5px 0 5px;
	border-bottom: solid 2px @fg;
	border-radius: 0;
}
#workspaces button.active {
	background-color: @zad;
	color: @main;
	padding: 0 4px;
	margin: 2px 5px 0 5px;
	border-bottom: solid 2px;
	border-radius: 0;
}
#workspaces button.empty {
	color: @gr;
	padding: 0 4px;
	margin: 2px 5px 0 5px;
	border-bottom: solid 2px #23252e;
	border-radius: 0;
}


#tray {
	background: @zad;
	color: @fg;
	padding: 0 15px 0 15px;
	margin: 4px 0 4px 0;
	border-radius: 6 0 0 6;
}
#backlight {
	background: @zad;
	color: @fg;
	padding: 0 30 0 15px;
	margin: 4px 0px 4px 0;
}
#pulseaudio {
	background: @zad;
	color: @fg;
	padding: 0 30 0 15px;
	margin: 4px 0px 4px 0;
}

#language {
	background: @zad;
	color: @main;
	padding: 0;
	margin: 4px 0 4px 0;
	border-bottom: solid 2px @main;
	border-radius: 0;
}

#clock {
	background: @zad;
	color: @fg;
	padding: 0 15px 0 29px;
	margin: 4px 10px 4px 0;
	border-radius: 0 6 6 0;
	font-size: 16px;
}

